{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Blog</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>
<body>

    <div>

        <section>
            <div class="container">
                <div>
                    <div>
                        <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                    </div>

                    <div>
                        <h2 class="form-title">Write a New Blog</h2>

                        <form action="" method="POST" enctype="multipart/form-data">
                        
                            {% csrf_token %}
                            <div class="form-row px-1 mx-auto">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{form.media}}
                                        {{form.as_p}}
                                    </div>
                                </div>
                            
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="text-right" id="save">
                                            <button class="btn btn-early" type="submit">Submit Post</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

